#login-form {
    width: 400px;
    height: 400px;
    color: black;
    border: solid  grey;
    border-radius: 20px;
    margin-left: 650px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    border-left-color: grey;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
           -2px -2px 4px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#login-form-header {
    margin-top: 10px;
    margin-left: 65px;
    background-color: white;

}

::placeholder{
    text-align: center;
}

#header {
    color: black;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
           -2px -2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            background-color: white;
}

#username {
    font-weight: bolder;
}

#password {
    font-weight: bolder;
}

#sign-up {
    cursor: pointer;
    font-weight: bolder;
    margin-left: 160px;
    margin-top: -46px;
}

#forgot-password {
    cursor: pointer;
    font-weight: bolder;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border: #384B70;
     
}

button {
    border: solid grey;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}



